# General
ASPNETCORE_ENVIRONMENT=Production
UI__DefaultTheme=dark

# Ports
ASPNETCORE_HTTP_PORTS=9090

# Database
ConnectionStrings__Default="Data Source=/app/data/fairshare.db"

# Admin Seeding
AdminSeed__Enabled=true
AdminSeed__User=admin
AdminSeed__Password=changeme
AdminSeed__LogGeneratedPassword=true
